:root {
    --dark-color:  rgb(6, 50, 100);
    --high-color: rgb(155, 0, 0);
    --light-color: rgb(255, 251, 240);
}

body {
    background-color: var(--light-color);
    color:  var(--dark-color);
}

.header {
    background-color:  var(--dark-color);
    color:var(--light-color);
    padding: 5px;
}

.content, .my-block {
    padding: 15px;
}

.high{
    color: var(--high-color);
}