@import url('https://fonts.googleapis.com/css?family=Raleway:700|Roboto&subset=latin-ext');
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: hsla(0, 0%, 0%, 0.63);
}

body {
    min-height: 75rem;
    padding-top: 4.5rem;
}

h1,
h2,
h3,
h4,
.navbar-brand {
    font-family: 'Raleway', sans-serif;
}
/* ================================ navbar ================================ */

/* ================================ /navbar ================================ */

/* ================================ Balance ================================ */

/* nav */

.vesztes {
    color: hsl(24, 100%, 54%);
}

.semleges {
    color: hsl(0, 0%, 73%);
}

.profitos {
    color: hsl(101, 99%, 40%);
}

.nav-profit {
    /* font-size: 1rem; */
    padding: 0.2rem 1rem;
    font-style: italic;
}

.dollar {
    font-style: normal;
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: 2px;
    margin-left: 8px;
}

/* /nav */

/* charts */

.chart-wrapper {
    width: 78vw;
    height: 100%;
    margin: auto;
}

/* charts */

/* ================================ /Balance ================================ */

/* ================================ Mesterlista ================================ */

.masterlist-table {
    text-align: center;
}

.stat-column-block,
.profact-col {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.instrument-block {
    margin: 5px;
    border-collapse: collapse;
    display: flex;
    border: 2px solid hsla(0, 0%, 0%, 0.63);
}

.symbol-column,
.avr-updt-column {
    flex: 10%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0;
}

.strategies-column {
    flex: 80%;
    font-weight: 700;
}

.elsosor {
	background-color: rgb(245, 245, 245);
}

.stat-column-block {
    display: flex;
    border: 1px solid hsla(0, 0%, 0%, 0.63);
    margin:-1px 0;
}

.name-col {
    flex: 230px;
    border: 1px solid hsla(0, 0%, 0%, 0.63);
    margin:-1px;
}

.profact-col {
    flex-basis: 200px;
    border-right: 1px solid hsla(0, 0%, 0%, 0.63);
    margin:-1px;
}

.profact-block {
    display: flex;
    flex-wrap: wrap;
}

.profact-head{
    min-width: 200px;
}

.profact-back-col {
    flex-basis: 100px;
    border-right: 1px solid hsla(0, 0%, 0%, 0.63);
}

.profact-real-col {
    flex-basis: 100px;
}

.hozam-col {
    flex-basis: 100px;
    border-right: 1px solid hsla(0, 0%, 0%, 0.63);
    color: white;
}

.talalati {
    flex-basis: 100px;
    border-right: 1px solid hsla(0, 0%, 0%, 0.63);
}

.maxdd {
    flex-basis: 100px;
    border-right: 1px solid hsla(0, 0%, 0%, 0.63);
}

.old-col {
    flex-basis: 100px;
    border-right: 1px solid hsla(0, 0%, 0%, 0.63);
}

.darab-col {
    flex-basis: 100px;
    border-right: 1px solid hsla(0, 0%, 0%, 0.63);
}

.db-upd-col {
    flex-basis: 100px;
    border-right: 1px solid hsla(0, 0%, 0%, 0.63);
}

.update-col {
    flex-basis: 200px;
}

.header{
    border: none;
    font-size: 0.7rem;
    align-items: flex-end;
}
/* ================================ /Mesterlista ================================ */