@import url('https://fonts.googleapis.com/css?family=Raleway:700|Roboto&subset=latin-ext');

html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: hsla(0, 0%, 0%, 0.63);
}

body {
    min-height: 75rem;
    padding-top: 4.5rem;
  }


h1, h2, h3, h4, .navbar-brand{
    font-family: 'Raleway', sans-serif;
}

.header{
    text-align: center;
    padding: 32px;
}
/* ================================ navbar ================================ */



/* ================================ /navbar ================================ */

/* ================================ Balance ================================ */
/* nav */

.vesztes{
    color: hsl(24, 100%, 54%);
}

.semleges{
    color: hsl(0, 0%, 73%);
}

.profitos{
    color: hsl(101, 99%, 40%);
}

.nav-profit{
    /* font-size: 1rem; */
    padding: 0.2rem 1rem;
    font-style: italic;
}

.dollar{
    font-style: normal;
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: 2px;
    margin-left: 8px;
}

/* /nav */

/* charts */
.chart-wrapper{
    width: 78vw;
    height: 100%;
    margin: auto;
}
/* charts */
/* ================================ /Balance ================================ */

/* ================================ Mesterlista ================================ */

.masterlist-table{
    text-align: center;
}

.instrument-block, .stat-column-block, .profact-col{
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    
}

.instrument-block{
    flex-wrap: wrap;
  align-content: stretch;
}

.symbol-column, .avr-updt-column{
    -ms-flex: 16%; /* IE10 */
    flex: 16%;
    max-width: 16%;
    align-content: stretch;
}

.strategies-column{
    -ms-flex: 68%; /* IE10 */
    flex: 68%;
    max-width: 68%;
    border: 1px solid red;
}
/* ================================ /Mesterlista ================================ */