body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.symstrat-container {
    max-width: 1800px;
    margin: auto;
}

.charts-container {
    display: grid;
    grid-template-columns: 15% 25% 60%;
    width: 100%;
}

.stat-wrapper {
    background-color: bisque;
}

.main-charts {}

#Hozam_chart {
    height: 500px;
}

#Lots_chart {
    height: 100px;
}

.side-charts {
    background-color: rgb(184, 161, 133);
}

.symstrat-tabla-sor {
    display: grid;
    grid-template-columns: 5% 35% 15% 5% 10% 10% 20%;
    width: 100%;
}

.symstat-tabla-oszlop {
    text-align: center;
}

.tabla-tol-ig {
    /* grid-column: 2 / span 4; */
}