.home-main-grid{
    display: grid;
    grid-template-columns: auto 400px;
    grid-template-rows: auto auto;
    box-shadow: 0px 0px 70px var(--shadow-color);
    border-radius: 5px;
    overflow: hidden;
    margin: 0 10px 30px 10px;
}

#chartbox1 {
}

#chartbox2 {
}

.home-aside{
    grid-column: 2;
    grid-row: 1 / span 2;
}
 .container-title{
     color: var(--dekor-color);
     font-weight: 100;
     font-style: italic;
 }

 .flex-container {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    text-align: center;
}
/* ---- last trades ---- */

.last-trades-tabla {
    position: relative;
    background-color: var(--gray-dark);
    border: 1px solid white;
    border-radius: 6px;
    overflow: hidden;
    text-align: center;
    margin: 5px;
    box-shadow: 0px 0px 5px var(--shadow-color);
}

.tabla-sor {
    position: relative;
    width: calc(100% - 2px);
    display: grid;
    grid-template-columns: 90px 120px 27px auto;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.tabla-sor {
    border: 1px solid var(--shadow-color);
    font-size: 14px;
    transition: 0.3s;
    box-shadow: 0px 0px 0px var(--shadow-color); 
}

.tabla-sor:hover {
    border: 1px solid white;
    box-shadow: 0px 20px 30px var(--shadow-color); 
    z-index: 5;
    transition: 0.3s;
}

.tabla-oszlop{
    padding: 3px;
}

.tabla-sor:hover {
    transition: 0.3s;
}
/* ---- last trades ---- */