.home-main-grid{
    display: grid;
    grid-template-columns: auto 400px;
    box-shadow: 0px 0px 70px var(--shadow-color);
    border-radius: 5px;
    overflow: hidden;
    margin: 0 10px 30px 10px;
}