.AUDUSD
        {
         background-color:#5D753E;
        }

      .AUDCAD
        {
         background-color:#67976D;
        }

      .AUDJPY
        {
         background-color:#939F4A;
        }

      .CADJPY
        {
         background-color:#E1926A;
        }

      .CHFJPY
        {
         background-color:#B1626F;
        }

      .EURAUD
        {
         background-color:#00AB94;
        }

      .EURGBP
        {
         background-color:#00619F;
        }

      .EURJPY
        {
         background-color:#AF9C77;
        }

      .EURUSD
        {
         background-color:#894C69;
        }

      .GBPAUD
        {
         background-color:#007550;
        }

      .GBPCHF
        {
         background-color:#3D2981;
        }

      .GBPJPY
        {
         background-color:#7B5A52;
        }

      .GBPUSD
        {
         background-color:#8B0E2A;
        }

      .GOLD
        {
         background-color:#F89A19;
        }

      .NZDUSD
        {
         background-color:#C76126;
        }

      .USDCAD
        {
         background-color:#E06665;
        }

      .USDCHF
        {
         background-color:#A21E65;
        }

      .USDJPY
        {
         background-color:#F65026;
        }

      .USDMXN
        {
         background-color:#9F1D21;
        }