@import url('https://fonts.googleapis.com/css?family=Poppins:300,500,700&subset=latin-ext');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url("../img/pattern-xm.jpg");
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.05rem;
}

:root {
    --basic-dark: rgb(17, 34, 56);
    --basic-light: #CCCCCC;
    --shadow-color: #030020;
    --shadow-50-color: hsla(246, 100%, 6%, 0.5);
    --shadow-25-color: hsla(246, 100%, 6%, 0.25);
    --dekor-color: #c94a7f;
    --winner-color: hsl(103, 100%, 18%);
    --looser-color: hsl(345, 100%, 22%);
}

/* ================================ nav ================================ */

.navbar {
    position: relative;
    z-index: 100;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: var(--basic-dark);
    box-shadow: 0px 0px 150px var(--shadow-50-color), 0px 0px 250px var(--shadow-color);
}

.nav-regular {
    z-index: 2;
    width: 520px;
    max-width: 100%;
    margin: auto;
}

.nav-regular a {
    z-index: 2;
    float: left;
    display: block;
    text-align: center;
    padding: 5px 18px;
    text-decoration: none;
    font-size: 15px;
}

.menu-link {
    color: var(--basic-light);
    transition: 0.4s;
    text-shadow: 0px 10px 25px var(--shadow-color), 0px 6px 14px var(--shadow-color), 0px 2px 6px var(--shadow-color);
    z-index: 2;
}

.menu-link:hover {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 13px rgba(255, 255, 255, 0.5);
    transition: 0.4s;
}

.active {
    color: var(--dekor-color);
    /* text-shadow: 0 0 13px black; */
}

/* ================================ /nav ================================ */

/* ================================ Lighting Shading ================================ */

.gomb-shading {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(50% 3% -90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 228, 185, 0.5) 25.68%, rgba(21, 0, 73, 0.2) 82.97%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 228, 185, 0.5) 25.68%, rgba(21, 0, 73, 0.2) 82.97%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-gradient(linear, 50% 3%, 50% 97.09%, color-stop(0, rgba(255, 255, 255, 0)), color-stop(0.2568, rgba(255, 228, 185, 0.5)), color-stop(0.8297, rgba(21, 0, 73, 0.2)), color-stop(1, rgba(255, 255, 255, 0)));
    background: -o-linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 228, 185, 0.5) 25.68%, rgba(21, 0, 73, 0.2) 82.97%, rgba(255, 255, 255, 0) 100%);
    background: -ms-linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 228, 185, 0.5) 25.68%, rgba(21, 0, 73, 0.2) 82.97%, rgba(255, 255, 255, 0) 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#FFFFFF' ,GradientType=0)";
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 228, 185, 0.5) 25.68%, rgba(21, 0, 73, 0.2) 82.97%, rgba(255, 255, 255, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#FFFFFF', GradientType=0);
    mix-blend-mode: overlay;
}

.gomb-shading::after {
    mix-blend-mode: normal;
}

/* ================================ /Lighting Shading ================================ */

/* ================================ Home ================================ */

.home-main-grid {
    display: grid;
    grid-template-columns: auto 23.6%;
    min-height: 200px;
    max-width: 1800px;
    margin: 33px auto;
    box-shadow: 0px 0px 180px var(--shadow-50-color);
    border-radius: 0 0 16px 16px;
    overflow: hidden;
}

/* ---------------- charts ----------------*/

.home-charts {
    background-color: var(--basic-light);
    border: 1px solid var(--basic-dark);
    padding-bottom: 15px;
    position: relative;
}

/* tabs */

.tabs {
    position: absolute;
    right: 50px;
    top: 5px;
}

.tab-link {
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
}

ul.tabs {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul.tabs li {
    background: none;
    color: var(--basic-dark);
    display: inline-block;
    padding: 5px 15px 30px 15px;
    cursor: pointer;
    border-radius: 10px;
}

ul.tabs li.current {
    background: white;
    color: var(--dekor-color);
}

.tab-content {
    display: none;
    background: white;
    padding: 15px;
}

.tab-content.current {
    display: inherit;
}

/* /tabs */

.home-charts-wrapper {
    margin: 35px 20px 30px 20px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 10px 50px var(--shadow-25-color);
}

.hozam-chart {
    height: 480px;
}

.percent-chart {
    width: 100%;
    height: 580px;
}

.lots-chart {
    height: 100px;
}

/* ---------------- /charts ----------------*/

/* ---------------- aside ----------------*/

.home-aside {
    background-color: var(--basic-dark);
}

.flex-container {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    text-align: center;
}

.profit {
    padding: 5px;
    text-align: center;
    flex-grow: 1;
    color: white;
}

.small-light-italic {
    font-size: 13px;
    font-weight: 300;
    font-style: italic;
    padding-right: 5px;
}

.big-bold {
    font-size: 19px;
    font-weight: 700;
}

.winner {
    text-shadow: 0px 0px 10px var(--winner-color), 0px 0px 10px var(--winner-color), 0px 0px 20px var(--winner-color), 0px 0px 40px var(--winner-color), 0px 0px 45px var(--winner-color), 0px 0px 50px var(--winner-color), 0px 0px 53px var(--winner-color), 0px 0px 55px var(--winner-color);
}

.neutral {
    color: var(--basic-light);
}

.looser {
    text-shadow: 0px 0px 10px var(--looser-color), 0px 0px 10px var(--looser-color), 0px 0px 20px var(--looser-color), 0px 0px 40px var(--looser-color), 0px 0px 45px var(--looser-color), 0px 0px 50px var(--looser-color), 0px 0px 53px var(--looser-color), 0px 0px 55px var(--looser-color);
}

.aside-cont {
    padding: 30px 15px;
    border-bottom: 1px solid black;
}

.loosers-container {
    background-color: var(--looser-color);
    background-image: url("../img/looser.jpg");
    background-size: 250px 250px;
    color: rgba(255, 255, 255, 0.88);
}

.winners-container {
    background-color: var(--winner-color);
    background-image: url("../img/winner.jpg");
    background-size: 350px 350px;
    color: rgba(255, 255, 255, 0.88);
}

.aside-cont a {
    text-decoration: none;
}

.container-title {
    margin-top: 0;
    padding: 5px;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
}

.gomb-container {
    z-index: 1;
    width: 100%;
    border-radius: 40px;
    overflow: hidden;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0px 15px 30px var(--shadow-50-color);
    margin: 2px 2px 20px 2px;
    transition: 0.4s;
}

.gomb-container:hover {
    box-shadow: 0 1px 8px var(--shadow-25-color);
    border: 1px solid rgb(32, 32, 32);
    transition: 0.4s;
}

.flex-container {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    text-align: center;
}

.gomb-item {
    z-index: -2;
    padding: 3px 15px;
    color: white;
    height: 25px;
    text-align: center;
    flex-grow: 1;
}

.strat {
    flex-grow: 3;
}

.res {
    background-color: var(--basic-dark);
}

.symb, .strat {
    text-shadow: 0px 3px 7px var(--shadow-color), 0px 0px 3px var(--shadow-color);
}

/* ---- last trades ---- */

.last-trades-tabla {
    background-color: white;
    border: 1px solid rgb(129, 129, 129);
    border-radius: 6px;
    overflow: hidden;
}

.tabla-head, .tabla-sor {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.tabla-sor {
    border-top: 1px solid rgb(129, 129, 129);
    padding: 5px;
}

.tabla-sor:hover {
    background-color: rgb(225, 255, 254);
}

.tabla-head {
    border-top: 0px;
    font-style: italic;
    background-color: var(--basic-dark);
    color: rgba(255, 255, 255, 0.75);
    padding: 5px;
}

.symstat-tabla-oszlop {
    text-align: center;
}

/* ---------------- /aside ----------------*/

/* ================================ /Home ================================ */